@import 'normalize-scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

@import './resources/fonts/styles';

@import './scss/variables';

@import './scss/mixins/media-query';
@import './scss/mixins/reset-button';

@import './scss/global';

@import './App/components/buttons';

@import './App/components/Modal';

@import './App/components/form/appLabel/';
@import './App/components/form/fieldGroup/';
@import './App/components/form/fields/AppInput';
@import './App/components/form/fields/AppTextarea';
@import './App/components/form/fields/AppDateInput';
@import './App/components/form/fields/ChooseBox';

@import './App/scenes/Portafolio/components/sectionWrap';
@import './App/scenes/Portafolio/components/contactForm';
@import './App/scenes/Portafolio/components/navigation';
@import './App/scenes/Portafolio/components/HeroSection';
@import './App/scenes/Portafolio/components/Footer';

@import './App/scenes/Portafolio/scenes/About/components/AboutMeCard';

html {
   @include respond-above(md) {
      font-size: 20px;
   }
   @include respond-above(lg) {
      font-size: 24px;
   }
}
body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      margin: 0;
   }
   ul {
      margin: 0;
      padding: 0;
      li {
         margin: 0;
         padding: 0;
         list-style: none;
      }
   }
}
