.app-input {
   border-color: $dark-color;
   border-width: 1px;
   border-style: solid;
   font-size: 0.8rem;
   min-height: 1.5rem;
   min-width: 0;
   outline-color: $primary-color;
   padding: 0 0.5rem;
}
