.app-textarea {
   border-color: $dark-color;
   border-width: 1px;
   border-style: solid;
   font-size: 0.8rem;
   // height: 1.5rem;
   outline-color: $primary-color;
   padding: 0.5rem; //
   resize: none; //
}